In [1]:
import json
import requests
import pandas as pd

In [120]:
url = 'https://api.yelp.com/v3/businesses/matches'

api_keys = ["KYLGaHvxhWgZpAHfHuXCUQmgjZBHIo96dHPvjMUtQBHRjRtcJ9nbq_9HoD-Dqznc5m7_blYXASNNC1tKmASXXryrPh5J53v4I98pxabBeKaKbfgDVcPEYda34r-JYXYx",
            "rfrWUtiUAUW46cryp1hic_sn_XcoNg93ZhpXhkYuQhrVWfiAJvpngKY4l7bcAEtB8qStkYE_ZOSNoXnvp94tOMiTECPNeuFOrWsdxg4qcVBO6Qq2M8QEC7ejfcaJYXYx",
            "y5rpH68cgnfrnhW4RZeVVBk7A7pIy1znYh2d-W5XwmUHMDU9b7XJpzsymPu0d5kxBdbgCJOIavt-6jLyl6RjmoH3JvN6d4zDx6tXq0QNYwtwT0e_Sm-p4m3ceciJYXYx",
            "WgjhydyFX22nvIhfI3YSeb5qroeTc50S6RN-mBjWMHSW4ZX3Y6H_XhoXmevaXe-X3gvyXdQ7fvmsXM2x7n45JHHoGIcLWd0pDYPPuT23G_WVTQwj5uVCUQfl7b-JYXYx",
            "DdyRlKHQG3eHknz7hsrxUjb8ibwjmvTYHTYDnnVONf0vtR57asoAuo5gbyWNfsEKqSy0v66Nv-jVcRJo19lJgqzHte_F0nkICs35EgdochGbzgBbFeKy1oTYn8GJYXYx",
            "148oIkQFrY-EsC7iILIc8GN9AiPplLrZ2BysIkwJtbvYPeqXKSPBrWzEa7pvMogL2z3-l2vkWhUtUwo2mLAypciHkbTvyEGp7qUwKlMFfmX_i6qwkxeMBeF-j8KJYXYx",
            "qS-Jr1Wyq81gltgutld7UfyrLFmf8vqwKs-4FM7lnD6HhbbaAty6waNlRcgutRacFj-58wce4u1THzCMkOMxtQgm6T3boX99SWhxYP1rhRRtJGLIFe8gphbPVsOJYXYx",
            "5w0H9uJTb4CxhF3IPq-6JU_A-RBqrgmsvs9xvBStQuFmKSlBuxWghU0E26fgEpvnCEwNuxFC5509graBbIVGcdChJyzpMrpK_SACm024GIdViAcqePdn9X8b2MqJYXYx",
            "qDHtFSLvSVan3icJ9XXJAOqjKsnVM5TfEQ7zKONbIieHA47RgVXiUK_sMEeCxkK5YkEZAynPDTIsijFWiS9VFPIV2mYfYv5FykT-Izyr1vi_P8X6S72rhiv_M8N8YXYx",
            "Wt7bAWbMrs2-EdX4VzD3eMiH5HxRI7rv2yG1qzk-kUgOZp0I9zxEAFi8jZMqt2MQ-h65E2X10ToU39wSbxxEvlOwhrgO_cZoYyN7Ir3OYzRCrbDPcdpnWMLnGsyJYXYx",
            "_Xib_RYecDBt2xakbm1kHRXtaxZmb4iXEaUApZURZTqLIVgDgiyeI0GUgr8fOSa4GNW5iXqgXhYLrYG5gn_2NiE0OklHkUmp00OeVDxRt39qmxPGYuUVJObYFs6JYXYx",
            "HfhVA8Fh6qLSJT4OvBM87MD8A7_QJ8U_nhBas4L0dMgbN0vyPyDbxA3F64I2qMAMOkHKa0S3tKhk_6dkzj7b10OkHUKfhx70bCubwQDoQ5RXHKdKe33bkgVd78uJYXYx"]

In [130]:
rest_df = pd.read_csv('data/ChicagoRestaurantsAndAddress.csv')
rest = rest_df.shape[0]

offset = 0
for i, api_key in enumerate(api_keys):
    headers = {'Authorization': 'Bearer %s' % api_key}
        
    j = 0
    while j in range(2450) and offset <= rest - 1:
        params = {'name': rest_df.iloc[offset]['DBA Name'], 'location': 'Chicago', 'address1': rest_df.iloc[offset]['Address'], 'city': 'Chicago', 'state': 'IL', 'country': 'US', 'match_threshold': 'default'}
        
        req = requests.get(url, params = params, headers = headers)
        data = json.loads(req.text)
        offset += 1
        j += 1

        if(len(data['businesses']) > 0):
            with open("data/yelp.json", "r+") as file:
                data_list = json.load(file)
                data_list.append(data)
                file.seek(0)
                json.dump(data_list, file)

            id_ = data['businesses'][0]['id']
            url_2 = 'https://api.yelp.com/v3/businesses/{}'.format(id_)
            req_2 = requests.get(url_2, headers = headers)
            data_2 = json.loads(req_2.text)

            with open("data/restaurant.json", "r+") as file:
                data_list = json.load(file)
                data_list.append(data_2)
                file.seek(0)
                json.dump(data_list, file)

print(offset)

33855

In [2]:
print(pd.read_json('data/yelp.json', orient = 'records').shape)
print(pd.read_json('data/restaurant.json', orient = 'records').shape)

(18427, 1)
(18427, 20)